In [7]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month', Measurement.date) == 6).all()

In [24]:
#  3. Convert the June temperatures to a list.
june_temps = list((june))

In [27]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps)
#print(june_temps_df.to_string(index=False))
print(june_temps_df)

               0     1
0     2010-06-01  78.0
1     2010-06-02  76.0
2     2010-06-03  78.0
3     2010-06-04  76.0
4     2010-06-05  77.0
...          ...   ...
1695  2017-06-26  79.0
1696  2017-06-27  74.0
1697  2017-06-28  74.0
1698  2017-06-29  76.0
1699  2017-06-30  75.0

[1700 rows x 2 columns]

In [16]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

                 1
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [17]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month', Measurement.date == 12)).all()

In [20]:
# 7. Convert the December temperatures to a list.
dec_temps = list((december))

In [22]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps)
#print(dec_temps_df.to_string(index=False))
print(dec_temps_df)

                0     1
0      2010-01-01  65.0
1      2010-01-02  63.0
2      2010-01-03  74.0
3      2010-01-04  76.0
4      2010-01-06  73.0
...           ...   ...
19545  2017-08-19  71.0
19546  2017-08-20  78.0
19547  2017-08-21  76.0
19548  2017-08-22  76.0
19549  2017-08-23  76.0

[19550 rows x 2 columns]

In [28]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

                  1
count  19550.000000
mean      73.097954
std        4.523527
min       53.000000
25%       70.000000
50%       73.000000
75%       76.000000
max       87.000000